body{font-family: 'GothamBook';font-size:16px}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: 'GothamBook';}
.all_content{overflow:hidden}
.overflow_hidden{overflow:hidden}
/*Header section style*/
.header_section{}
.header_section .navbar{padding:0px}
.header_section .navbar-toggler{background-color: #e94e38;color: #FFF;}
.header_section .navbar-nav .nav-link{color: #96a6a7;text-transform: uppercase;font-family: 'GothamBook';font-size: 13px;font-weight: 500;margin-top: 15px;}
.Search_icon{background: #e2dee0;margin: 0px;
margin-top: 0px;margin-bottom: 0px;margin-top: -6px;margin-bottom: 0px;}
.header_section .navbar-nav .Search_icon .nav-link{color: #FFF;padding: 15px;font-size: 20px;padding-top: 10px;}
.login_item{background:#e94e38;padding: 0px 15px;position: relative;}
.login_item::after {
	content: '';
	width: 100%;
	height: 64px;
	background: #e94e38;
	position: absolute;
	top: 0;
	left: 100%;
}
.header_section .navbar-nav .login_item .nav-link{color: #FFF;}
.login_item i{padding-right:10px}



/*Search style*/
.search_section{min-height:375px;background-image:url(../images/search-background.jpg);background-repeat: no-repeat;background-size: cover;}

.search_bar{color:#FFF;padding-top:50px;font-family: 'GothamBook';}
.search_bar .row{margin-top: 25px;}

.search_bar .form-control{background: none;color: #FFF;font-family: 'GothamBook';border:none}

.select_overlay{width:100%;overflow:hidden;border-radius: 20px;padding: 3px;border: 1px solid #727161;background: #FFFFFF1A;position:relative}
.select_overlay i{position: absolute;top: 33%;right: 17px; pointer-events: none;}
.search_bar select{width: 110%;cursor:pointer}
.search_bar select option{background: #FFFFFF1A;color: #000;}
.search_bar input[type=text]{padding: 10px 20px;border-radius: 20px;border: 1px solid #727161;background: #FFFFFF1A;}
.search_bar input[type=text]::placeholder{color:#FFF}
.search_bar input[type="submit"] {
	font-family: 'GothamBook';
	background-color: #e94e38;
	border: none;
	border-bottom: 2px solid #c1412e;
	font-size: 22px;
	padding: 15px 40px;
	border-radius: 50px;
}


/*Filter section style*/
.filter_section{background: #FFF;border-bottom: 2px solid #e2dee0;padding: 2px 0px;}
.left_filter_menu, .social_menu{padding:0px;list-style:none}
.left_filter_menu li, .social_menu li{float:left}
.left_filter_menu li a{display: block;color: #96a6a7;padding: 15px 10px;text-decoration: none;}
.left_filter_menu li.active a{color:#e94e38}
.left_filter_menu li a:hover{color:#e94e38}


.filter_inputs{}
.filter_inputs .select_overlay{border-color:#cad2d3;margin: 7px 0px;padding: 0px;}
.filter_inputs .select_overlay i{color:#96a6a7}
.filter_inputs .select_overlay select{color: #e94e38;}
.filter_inputs .form-control{border: none;background: none;-moz-appearance:none}
.filter_inputs .form-control:focus{border:none;box-shadow:none}
.filter_inputs input[type=text]{}



.social_menu{padding: 10px 0px;}
.social_menu li{margin-left: 10px;}
.social_menu li:first-child{margin-left: 0px;}

.social_menu li a {
	text-decoration: none;
	display: block;
	background: #b6c0c1;
	color: #FFF;
	padding: 4px 7px;
	font-size: 20px;
	border-radius: 50%;
}
.social_menu li:first-child a{background:none;color:#96a6a7;font-weight:600px;font-size: 16px;}
.social_menu li a i {
	width: 25px;
	height: 25px;
	text-align: center;
}
.social_menu li a:hover{}
.social_menu li a.bg_green{background:#1baf5d}
.social_menu li a.bg_orange{background:#f19e1f}
.social_menu li a.bg_purple{background:#88499c}




/*Post section style*/
.posts_section{background:#f3f1f2}
.single_post{margin-top: 30px;background: #FFF;}
.single_post .media{position:relative;}
.single_post .media .pricing {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #1BAF5D;
	padding: 2px 5px;
	border-radius: 20px;
	font-size: 13px;
	color: #FFF;
}
.single_post .media img{border-bottom: 3px solid #1BAF5D;width:100%}
.single_post .media .post_icon {
	position: absolute;
	color: #FFF;
	font-size: 30px;
	bottom: 0px;
	left: 50%;
	margin-left: -30px;
	margin-bottom: -30px;
	z-index: 3;
}
.single_post .media .post_icon i{background: #1baf5d;padding: 10px;border-radius: 50%;border: 3px solid #FFF;}
.single_post .description {
	padding: 20px 15px;
	padding-top: 35px;
}
.single_post .description h6 {
	font-size: 14px;
	text-align: center;
	color: #566375;
	font-weight: 600;
}
.single_post .description p {
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #1baf5d;
	margin-bottom: 0px;
}
.single_post .description .rattings{}
.single_post .description .rattings i {
	color: #f19e1f;
	font-size: 15px;
}
.single_post .description .rattings i:last-child{color:#96a6a7;font-style: inherit;}


.hover_box {
	position: absolute;
	background: #1baf5de6;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #FFF;
	display:none;
	z-index: 2;
}
.single_post:hover .hover_box{display:block}
.hover_box a {
	border: 1px solid #FFF;
	border-radius: 20px;
	color: #FFF;
	/* font-weight: bold; */
	margin-top: 25px;
}
.hover_box p{margin-top: 25px;font-size: 20px;}
.hover_box p i{}
.hover_box p i:last-child{margin-left: 20px;}

.wide_post{}
.wide_post .media .post_icon{left: 30px;margin-left: 0px;}
.media_heading{position: absolute;color: #FFF;width: 100%;padding: 15px 20px;padding-left: 100px;text-transform: uppercase;bottom:3px;background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

z-index: 1;}
.media_heading h1{font-size: 25px;margin: 0;padding: 0;}
.media_heading h1 span{font-size: 12px;}
.media_heading h1 span i:last-child{color: #FFF;}

/*single post color style*/
.single_post.green .media .pricing{background: #1BAF5D;}
.single_post.green .media .hover_box{background: #1baf5de6;}
.single_post.green .media_heading h1 span{color: #1baf5d;}
.single_post.green .media .post_icon i{background: #1BAF5D;}
.single_post.green .media img{border-color: #1BAF5D;}
.single_post.green .description p{color: #1BAF5D;}

.single_post.orange .media .pricing{background: #f19e1f;}
.single_post.orange .media .hover_box{background: #f19e1fe6;}
.single_post.orange .media_heading h1 span{color: #f19e1f;}
.single_post.orange .media .post_icon i{background: #f19e1f;}
.single_post.orange .media img{border-color: #f19e1f;}
.single_post.orange .description p{color: #f19e1f;}

.single_post.purple .media .pricing{background: #88499c;}
.single_post.purple .media .hover_box{background: #88499ce6;}
.single_post.purple .media_heading h1 span{color: #88499c;}
.single_post.purple .media .post_icon i{background: #88499c;}
.single_post.purple .media img{border-color: #88499c;}
.single_post.purple .description p{color: #88499c;}



/*Style for brand section*/
.brand_section{background: #f3f1f2;padding:25px 0px}
.brand_title{color:#96a6a7;margin-top:75px}

.brand_menu {
	list-style: none;
	padding: 0px;
	display: block;
	overflow: hidden;
	text-align: center;
	margin-top: 70px;
	position:relative
}
.brand_menu::before {
	content: "";
	width: 100%;
	height: 2px;
	background: #e2dee0;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	z-index: 1;
}
.brand_menu li{display: inline-block;margin-right: 50px;position: relative;z-index: 999;}
.brand_menu li:last-child{margin-right: 0px;}
.brand_menu li a {
	color: #9dacad;
	font-size: 50px;
	display: block;
	border-radius: 50%;
	border: 2px solid #9dacad;
	padding: 30px;
	background: #F3F1F2;
}
.brand_menu li a i{width: 75px;height: 50px;}
.brand_menu li a:hover{}



/*Style for service section*/
.service_title{}
.service_title h1{color: #1baf5d;margin: 0px;

padding: 35px 0px;}
.services{}
.single_service{}
.single_service p{}
.service_icon{}
.service_icon i {
	font-size: 30px;
	background: #1db05e;
	color: #FFF;
	padding: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 15px;
}

.footer_section{background: #414141;

color: #FFF;

padding: 20px 0px;}
.footer_section p{margin:0px;font-size: 18px}



